/* STARTER CODE */

* {
  box-sizing: border-box;
  /*border: 1px solid purple; /*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* BODY */

#shop, #list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

main, aside {
  width: 100%;
  text-align: center;
}

main {
  float: left;
}

aside {
  float: right;

}

/* FOOD LIST/CATEGORIES */

nav {

}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
}

li {
  padding: 0 2em;
}

a {
  text-decoration: none;
  color: black;
  width: 20%;
  font-size: 1em;
}

a:hover {
  font-size: 1.6em;
  color: red;
}

/*FRUIT*/

#veggieContainer, #meatContainer {
  display: none;
}

.firstCol, .secondCol, .thirdCol {
  text-align: center;
  width: 100%;
}

.firstCol {
  align-items: center;
  float: left;
}

.thirdCol {
  float: right;
}

img {
  text-align: center;
  width: 40%;
  background: pink;
  border: .5px solid red;
  height: 110px;
  padding: .5em;
}

img:hover {
  opacity: .8;
  position: relative;
}

h4 {
  color: white;
  margin: 0 auto;
  position: absolute;
  z-index: ;
  bottom: 0;
}


/* CART */
aside {
  text-align: center;
}







