/* STARTER CODE */

* {
  box-sizing: border-box;
  /*border: 1px solid purple; /*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* BODY */

body {
  font-family: 'Concert One';
}

#shop h2 {
  font-size: 4em;
  color: #f9b0b4;
}

#list h2 {
  font-size: 4em;
  color: #caf1f2;
}

p {
  font-size: 2em;
  color: #caf1f2;
}

#shop, #list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

#shop {
  width: 75%;
  background-color: #b3ffe1;
}

#list {
  width: 25%;
  background-color: #bbb5f4;
}

main, aside {
  width: 100%;
  text-align: center;
}

main {
  float: left;
}

aside {
  float: right;

}

/* FOOD LIST/CATEGORIES */


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
}

li {
  padding: 1em 3em 1em 0em;
  font-size: 1.5em;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f9b0b4;
  width: 20%;
  font-size: 1em;
}

a:hover {
  font-size: 1.6em;
  color: #f6f0af;
}

/* CATEGORIES */

#veggieContainer, #meatContainer {
  display: none;
}

.firstCol, .secondCol, .thirdCol {
  text-align: center;
  width: 100%;
}

.firstCol {
  align-items: center;
  float: left;
}

.thirdCol {
  float: right;
}

img {
  text-align: center;
  width: 40%;
  background: pink;
  border: .5px solid red;
  height: 20em;
  padding: .5em;
}

img:hover {
  opacity: .8;
  position: relative;
}

h4 {
  color: white;
  margin: 0 auto;
  position: absolute;
  z-index: ;
  bottom: 0;
}


/* CART */
aside {
  text-align: center;
  height: 76.7em;
}

button {
  color: red;
  background-color: #aff6ed;
  font-family: 'Concert One';
  font-size: 1em;
}







